{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Disband club {{ membership.club.name }} <span>{{ membership.club.id }}</span></h1>
      <form action="{% url 'disband_club' membership.club.id %}" method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=confirmation_form %}
          <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}
