{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Book Selection for meeting {{ meeting.id }}</h1>
      {% if recommended_books %}
        <h2>Recommended Books</h2>
        <div>
          <div class="container">
            <div class="row">
              {% for book in recommended_books %}
                <div class="col">
                  <p style="text-align:center;">ISBN: {{ book.isbn }}</p>
                  <div style="text-align:center; padding-bottom:12px;"><img alt="Image of {{ book.name }}" src="{{ book.image_url_m }}"></div>
                  <p style="text-align:center;">{{ book.name }}</p>
                </div>
                {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      <br></br>
      <h2>Search for books</h2>
      <form action="{% url 'meeting_book_selection' meeting.club.id meeting.id page %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=search_books_form %}
        <input type="submit" value="Search" class="btn btn-primary">
      </form>
      <br></br>
      <h2>Books to Choose From</h2>
      {% if books_info %}
        <table class="table">
          <thead>
            <tr>
              <th scope = 'col'>ISBN:</th>
              <th scope = 'col'>Name:</th>
              <th scope = 'col'></th>
            </tr>
          </thead>
          <tbody>
            {% for book_info in books_info %}
              <tr>
                <th>{{ book_info.0 }}</th>
                <td>{{ book_info.1 }}</td>
                <td><a class="btn btn-md btn-secondary" href="{% url 'select_meeting_book' meeting.club.id meeting.id book_info.0 %}">Select</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if last_page %}
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="{% url 'meeting_book_selection' meeting.club.id meeting.id 0 %}"><i class="bi bi-chevron-double-left"></i></a></li>
              <li class="page-item"><a class="page-link" href="{% url 'meeting_book_selection' meeting.club.id meeting.id previous_page %}"><i class="bi bi-chevron-left"></i></a></li>
              <li class="page-item"><h3>{{ page }}</h3></li>
              <li class="page-item"><a class="page-link" href="{% url 'meeting_book_selection' meeting.club.id meeting.id next_page %}"><i class="bi bi-chevron-right"></i></a></li>
              <li class="page-item"><a class="page-link" href="{% url 'meeting_book_selection' meeting.club.id meeting.id last_page %}"><i class="bi bi-chevron-double-right"></i></a></li>
            </ul>
          </nav>
        {% endif %}
      {% elif not next_page %}
        <p>There are no books avialable yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
